@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?pn7j7r");
  src: url("../fonts/icons.eot?pn7j7r#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?pn7j7r") format("truetype"), url("../fonts/icons.woff?pn7j7r") format("woff"), url("../fonts/icons.svg?pn7j7r#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-nav:before {
  content: "\e913";
}

._icon-apartment:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-arrow-right:before {
  content: "\e902";
}

._icon-bath:before {
  content: "\e903";
}

._icon-bed:before {
  content: "\e904";
}

._icon-email:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-floor:before {
  content: "\e907";
}

._icon-garage:before {
  content: "\e908";
}

._icon-house:before {
  content: "\e909";
}

._icon-instagram:before {
  content: "\e90a";
}

._icon-location:before {
  content: "\e90b";
}

._icon-phone:before {
  content: "\e90c";
}

._icon-popular:before {
  content: "\e90d";
}

._icon-star:before {
  content: "\e90e";
}

._icon-time:before {
  content: "\e90f";
}

._icon-twitter:before {
  content: "\e910";
}

._icon-villa:before {
  content: "\e911";
}

._icon-wallet:before {
  content: "\e912";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #888b97;
  line-height: 1;
  font-family: "Lexend";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lexend";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  padding: 0 8.3333333333%;
}
@media (max-width: 37.5em) {
  [class*=__container] {
    padding: 0 0.625rem;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #888b97;
  line-height: 1;
  font-family: "Lexend";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lexend";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.button {
  display: block;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}
.button--link {
  padding: 0.5rem 1rem;
  color: #f0f3fd;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}
.button--link > ._icon-arrow::before {
  font-size: 0.8125rem;
}
@media (any-hover: hover) {
  .button--link:hover {
    background-color: rgba(175, 174, 174, 0.198);
  }
}
.button--sign {
  padding: 0.75rem 1.5rem;
  color: #047857;
  background-color: #d1fae5;
}
@media (any-hover: hover) {
  .button--sign:hover {
    background-color: #c5fadf;
  }
}
.button--call {
  padding: 0.75rem 1rem;
  color: #fff;
  background-color: #10b981;
}
@media (any-hover: hover) {
  .button--call:hover {
    background-color: #029e6a;
  }
}
.button--call > .button__content {
  flex-direction: row;
}
.button--call > .button__content::before {
  font-size: 1.5rem;
}
.button--green {
  padding: 0.75rem 1rem;
  color: #fff;
  background-color: #10b981;
}
@media (any-hover: hover) {
  .button--green:hover {
    background-color: #029e6a;
  }
}
.button__content {
  font-weight: 600;
  line-height: 1.5714285714;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 0.625rem;
  justify-content: center;
}

.title-section {
  color: #1b1c57;
  font-weight: 600;
  text-transform: capitalize;
}
@supports (font-size: clamp( 1.375rem , 1.1477272727rem  +  1.1363636364vw , 2rem )) {
  .title-section {
    font-size: clamp( 1.375rem , 1.1477272727rem  +  1.1363636364vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1477272727rem  +  1.1363636364vw , 2rem )) {
  .title-section {
    font-size: calc(
            1.375rem + 0.625 * (100vw - 20rem) / 55
        );
  }
}
.title-section--center {
  text-align: center;
}
@supports (font-size: clamp( 1.375rem , 1.1964285714rem  +  0.8928571429vw , 2rem )) {
  .title-section--center {
    font-size: clamp( 1.375rem , 1.1964285714rem  +  0.8928571429vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1964285714rem  +  0.8928571429vw , 2rem )) {
  .title-section--center {
    font-size: calc(
            1.375rem + 0.625 * (100vw - 20rem) / 70
        );
  }
}

.description {
  position: relative;
  color: #f59e0b;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}
.description:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (max-width: 74.875em) {
  .description {
    text-align: center;
    padding-left: 0;
  }
}
.description::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.0625rem;
  top: 50%;
  left: -2.5rem;
  background-color: #f59e0b;
  transform: translate(0, -50%);
}
@media (max-width: 74.875em) {
  .description::before {
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.description--center {
  text-align: center;
  padding-left: 0;
}
.description--center::before {
  transform: translate(0, -50%);
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.author__images > img {
  position: relative;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 3px solid #fff;
}
.author__title {
  color: #1b1c57;
  font-weight: 500;
  line-height: 1.3333333333;
}
@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .author__title {
    font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .author__title {
    font-size: calc(
            1rem + 0.125 * (100vw - 20rem) / 55
        );
  }
}
.author__text {
  color: #68799f;
  font-weight: 500;
  line-height: 1.4285714286;
}
@supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .author__text {
    font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .author__text {
    font-size: calc(
            0.75rem + 0.125 * (100vw - 20rem) / 55
        );
  }
}
.author--small {
  column-gap: 1.5rem;
}
@media (max-width: 41.875em) {
  .author--small {
    column-gap: 0.5rem;
  }
}
.author--small .author__images > img {
  width: 2.5rem;
  height: 2.5rem;
}
.author--small .author__title {
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2.5rem;
}
@media (max-width: 32.5em) {
  .header {
    margin-top: 1.25rem;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.header__svg {
  width: 2.25rem;
  height: 2.25rem;
}
.header__title {
  font-size: 1rem;
  color: #1b1c57;
  font-weight: 700;
}
.nav-header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  justify-content: center;
}
@supports (column-gap: clamp( 1.125rem , -0.75rem  +  2.5vw , 1.5rem )) {
  .nav-header__list {
    column-gap: clamp( 1.125rem , -0.75rem  +  2.5vw , 1.5rem );
  }
}
@supports not (column-gap: clamp( 1.125rem , -0.75rem  +  2.5vw , 1.5rem )) {
  .nav-header__list {
    column-gap: calc(
            1.125rem + 0.375 * (100vw - 75rem) / 15
        );
  }
}
@media (max-width: 74.875em) {
  .nav-header__list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.nav-header__item {
  font-weight: 600;
}
@media (max-width: 74.875em) {
  .nav-header__item {
    width: 100%;
  }
}
.spollers-nav {
  display: block;
  position: relative;
}
.spollers-nav__body {
  padding: 0.5rem 1rem;
  color: #f0f3fd;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(175, 174, 174, 0.198);
  position: absolute;
  top: 120%;
  width: 100%;
  left: 0;
  border-radius: 1rem;
  z-index: 2;
}
@media (max-width: 74.875em) {
  .spollers-nav__body {
    position: relative;
    margin-top: 1rem;
  }
}
.spollers-nav__title::before {
  transition: transform 0.4s ease;
}
.spollers-nav__title._spoller-active::before {
  transform: rotate(180deg);
}
.spollers-nav__link {
  font-weight: 400;
  line-height: 1.2;
}
.spollers-nav__link:not(:last-child) {
  margin-bottom: 0.375rem;
}
@media (any-hover: hover) {
  .spollers-nav__link:hover {
    text-decoration: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 74.875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #1b1c57;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.menu__body {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}
@supports (column-gap: clamp( 1.625rem , -7.75rem  +  12.5vw , 3.5rem )) {
  .menu__body {
    column-gap: clamp( 1.625rem , -7.75rem  +  12.5vw , 3.5rem );
  }
}
@supports not (column-gap: clamp( 1.625rem , -7.75rem  +  12.5vw , 3.5rem )) {
  .menu__body {
    column-gap: calc(
            1.625rem + 1.875 * (100vw - 75rem) / 15
        );
  }
}
@media (max-width: 74.875em) {
  .menu__body {
    background-color: #7ab3d2;
    position: fixed;
    inset: 0;
    transform: translate(-100%, 0);
    transition: transform 0.4s ease;
    flex-direction: column;
    row-gap: 2rem;
    overflow: auto;
    padding-top: 8.75rem;
    padding-bottom: 1.25rem;
  }
}
.menu-open .menu__body {
  transform: translate(0, 0);
}

.footer {
  position: relative;
}
@supports (padding-top: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
  .footer {
    padding-top: calc(
            2.5rem + 5 * (100vw - 20rem) / 55
        );
  }
}
@supports (padding-bottom: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
  .footer {
    padding-bottom: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
  .footer {
    padding-bottom: calc(
            2.5rem + 5 * (100vw - 20rem) / 55
        );
  }
}
.footer__container {
  display: flex;
}
@media (max-width: 74.9375em) {
  .footer__container {
    flex-direction: column;
    row-gap: 2rem;
  }
}
@media (min-width: 47.9375em) {
  .footer__info {
    width: 45%;
  }
}
.footer__logo {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}
.footer__text {
  color: #626687;
  line-height: 1.7142857143;
  margin-bottom: 1.5rem;
  max-width: 20.625rem;
}
.footer__tools {
  flex: 1;
}
.footer__bg {
  position: absolute;
  z-index: -1;
  filter: blur(60px);
}
.footer__bg--01 {
  right: 0;
  bottom: 0;
  width: 18.375rem;
  height: 24.1875rem;
}
.footer__bg--02 {
  bottom: 0;
  right: 3.125rem;
  width: 30.875rem;
  height: 20.125rem;
}

.logo-footer__img {
  width: 2.25rem;
  height: 2.25rem;
}
.logo-footer__text {
  color: #1b1c57;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.social-footer {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.social-footer__item {
  font-size: 2rem;
  color: rgb(60, 69, 99);
}
@media (any-hover: hover) {
  .social-footer__item:hover {
    filter: drop-shadow(0 0 0.3rem rgb(143, 236, 234));
  }
}

.spollers-footer {
  display: flex;
  column-gap: 3.125rem;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .spollers-footer {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.spollers-item-footer__title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 0.75rem;
  color: #0e1735;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
}
.spollers-item-footer__title::before {
  transition: transform 0.5s ease;
  font-size: 0.875rem;
  display: none;
}
@media (max-width: 47.99875em) {
  .spollers-item-footer__title::before {
    display: block;
  }
}
.spollers-item-footer__title._active::before {
  transform: rotate(180deg);
}
.spollers-item-footer__list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
}
.spollers-item-footer__item {
  color: #888b97;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .spollers-item-footer__item:hover {
    text-decoration: underline;
  }
}

.page {
  display: flex;
  flex-direction: column;
}
@supports (row-gap: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
  .page {
    row-gap: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem );
  }
}
@supports not (row-gap: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
  .page {
    row-gap: calc(
            2.5rem + 5 * (100vw - 20rem) / 55
        );
  }
}

/* Popup */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.93);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease;
  z-index: 10;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 0.625rem;
}

.popup__content {
  background-color: #fff;
  padding: 3.125rem;
  position: relative;
  transition: all 0.3s ease;
  opacity: 0;
  border-radius: 2.1875rem;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  overflow: hidden;
}
@media (max-width: 37.5em) {
  .popup__content {
    padding: 1.25rem;
  }
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
}

body.lock {
  overflow: hidden;
}

.popup__close {
  position: absolute;
  padding: 0.9375rem;
  text-decoration: none;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: #333;
}
@media (max-width: 37.5em) {
  .popup__close {
    padding: 0.125rem 1.5625rem;
    font-size: 1.125rem;
  }
}

.popup__close:hover {
  color: rgb(176, 95, 95);
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.popup__video {
  width: 60vw;
  height: 100%;
}
@media (max-width: 37.5em) {
  .popup__video {
    width: 80vw;
  }
}

.popup__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
@media (max-width: 47.5em) {
  .popup__image {
    max-width: 25rem;
  }
}
@media (max-width: 30em) {
  .popup__image {
    max-width: 18.75rem;
  }
}
@media (max-width: 23.125em) {
  .popup__image {
    max-width: 15rem;
  }
}

.hero {
  position: relative;
}
.hero > svg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: blur(60px);
}
.hero__container {
  display: flex;
}
@media (max-width: 74.875em) {
  .hero__container {
    flex-direction: column;
    row-gap: 3rem;
  }
}
.hero__content {
  align-items: center;
}
@media (min-width: 74.9375em) {
  .hero__content {
    display: flex;
    flex: 0 0 50%;
  }
}
.hero__body {
  padding-top: 6.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 74.9375em) {
  .hero__body {
    max-width: 83.3333333333%;
  }
}
@media (max-width: 74.875em) {
  .hero__body {
    text-align: center;
    padding-top: 9.375rem;
  }
}
.hero__title {
  color: #1b1c57;
  text-transform: capitalize;
  font-weight: 700;
}
@supports (font-size: clamp( 1.75rem , 1.4772727273rem  +  1.3636363636vw , 2.5rem )) {
  .hero__title {
    font-size: clamp( 1.75rem , 1.4772727273rem  +  1.3636363636vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.75rem , 1.4772727273rem  +  1.3636363636vw , 2.5rem )) {
  .hero__title {
    font-size: calc(
            1.75rem + 0.75 * (100vw - 20rem) / 55
        );
  }
}
@supports (-webkit-text-stroke: 1px white) {
  .hero__title span {
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.0625rem #1b1c57;
  }
}
.hero__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.hero__text {
  color: #626687;
  line-height: 1.75;
  opacity: 0.75;
}
@supports (font-size: clamp( 0.875rem , 0.8392857143rem  +  0.1785714286vw , 1rem )) {
  .hero__text {
    font-size: clamp( 0.875rem , 0.8392857143rem  +  0.1785714286vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8392857143rem  +  0.1785714286vw , 1rem )) {
  .hero__text {
    font-size: calc(
            0.875rem + 0.125 * (100vw - 20rem) / 70
        );
  }
}
@media (max-width: 74.9375em) {
  .hero__right {
    padding-bottom: 2.5rem;
  }
}
.hero__image {
  position: relative;
}
@media (min-width: 74.9375em) {
  .hero__image {
    display: flex;
    align-items: end;
    padding-left: 3rem;
    padding-bottom: 3rem;
    border-radius: 0 0 0 5rem;
    overflow: hidden;
    width: 50vw;
    height: 50vw;
  }
}
.hero__image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 74.875em) {
  .hero__image > img {
    display: none;
  }
}

.search-hero {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
  border-radius: 32px;
  padding: 0.25rem 0.25rem 0.25rem 1.5rem;
}
@media (min-width: 32.5625em) {
  .search-hero {
    border: 1px solid #e0e3eb;
  }
}
.search-hero::before {
  font-size: 1.5rem;
  color: rgb(245, 158, 11);
  z-index: 2;
}
@media (max-width: 32.5em) {
  .search-hero::before {
    display: none;
  }
}
@media (max-width: 32.5em) {
  .search-hero {
    flex-direction: column;
    row-gap: 0.875rem;
    padding: 0.25rem;
  }
}
.search-hero__input {
  border-radius: 32px;
  padding: 0.75rem;
  width: 100%;
}
.search-hero__input:focus {
  outline: none;
  box-shadow: 0 0 0.3125rem #8dc2cf;
}
@media (min-width: 32.5625em) {
  .search-hero__input {
    position: absolute;
    inset: 0;
    padding-left: 4rem;
    padding-right: 7.5rem;
  }
}
@media (max-width: 32.5em) {
  .search-hero__input {
    text-align: center;
    border: 1px solid #e0e3eb;
  }
}
.search-hero__button {
  position: relative;
  z-index: 2;
}
@media (max-width: 32.5em) {
  .search-hero__button {
    width: 100%;
  }
}

.partnership__title {
  font-size: 1rem;
  line-height: 2;
  color: #888b97;
}
.partnership__list {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
@media (max-width: 74.875em) {
  .partnership__list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.info-hero {
  overflow: visible !important;
}
.info-hero__slide {
  cursor: pointer;
  border-radius: 2rem;
  width: auto !important;
  background-color: rgba(173, 230, 235, 0.3490196078);
  padding: 1rem;
}
@media (min-width: 74.9375em) {
  .info-hero__slide {
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0px 11px 8px 0px rgba(51, 51, 51, 0.06);
  }
}
.info-hero__content {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.info-hero__images > img {
  position: relative;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 3px solid #fff;
}
.info-hero__images > img:nth-child(n+2) {
  margin-left: -1.5rem;
}
@media (max-width: 32.5em) {
  .info-hero__images > img:nth-child(n+2) {
    margin-left: -2.25rem;
  }
}
.info-hero__title {
  color: #1b1c57;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.info-hero__text {
  color: #68799f;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6666666667;
}

@media (min-width: 74.875em) {
  .recommendation__container {
    margin-left: 2.5rem;
  }
}
.recommendation__swiper {
  overflow: visible !important;
}
.recommendation__navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.recommendation__navigate:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 74.875em) {
  .recommendation__navigate {
    flex-direction: column;
    row-gap: 0.875rem;
  }
}
@media (min-width: 74.875em) {
  .recommendation__title {
    width: 20.625rem;
  }
}
@media (max-width: 74.875em) {
  .recommendation__title {
    text-align: center;
  }
}
.recommendation__wrapper > .swiper-slide {
  width: 28.3333333333% !important;
  min-width: 13.75rem;
}
.nav-recommendation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
@media (max-width: 77.5em) {
  .nav-recommendation__list {
    column-gap: 0.875rem;
  }
}
@media (max-width: 32.5em) {
  .nav-recommendation__list {
    column-gap: 0.625rem;
  }
}
.nav-recommendation__item {
  cursor: pointer;
  color: #888b97;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5555555556;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: 0.0625rem solid #e0e3eb;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: background-color 0.3s ease;
}
@supports (font-size: clamp( 0.75rem , 0.6136363636rem  +  0.6818181818vw , 1.125rem )) {
  .nav-recommendation__item {
    font-size: clamp( 0.75rem , 0.6136363636rem  +  0.6818181818vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.6136363636rem  +  0.6818181818vw , 1.125rem )) {
  .nav-recommendation__item {
    font-size: calc(
            0.75rem + 0.375 * (100vw - 20rem) / 55
        );
  }
}
@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .nav-recommendation__item::before {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .nav-recommendation__item::before {
    font-size: calc(
            1.125rem + 0.375 * (100vw - 20rem) / 55
        );
  }
}
.nav-recommendation__item.active {
  background-color: #d1fae5;
  color: #10b981;
  border: 0.0625rem solid transparent;
}
@media (any-hover: hover) {
  .nav-recommendation__item:hover {
    background-color: #d1fae5;
    color: #10b981;
    border: 0.0625rem solid transparent;
  }
}
@media (max-width: 32.5em) {
  .nav-recommendation__item {
    padding: 0.375rem 0.625rem;
  }
}

.button-recommendation {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
@media (max-width: 74.875em) {
  .button-recommendation {
    width: 100%;
    justify-content: space-between;
  }
}
.button-recommendation__arrow {
  padding: 0.75rem 1rem;
  background-color: #10b981;
  border-radius: 2rem;
  color: #fff;
}
.button-recommendation__arrow.swiper-button-disabled {
  background-color: #e0e3eb;
  color: rgb(60, 69, 99);
  pointer-events: none;
}
@media (max-width: 32.5em) {
  .button-recommendation__arrow {
    padding: 0.5rem 0.625rem;
  }
}
.button-recommendation__arrow::after {
  display: none;
}
@supports (font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem )) {
  .button-recommendation__arrow::before {
    font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem )) {
  .button-recommendation__arrow::before {
    font-size: calc(
            1.375rem + 0.375 * (100vw - 20rem) / 55
        );
  }
}
.button-recommendation__arrow--prev::before {
  display: block;
  transform: rotate(180deg);
}
@media (any-hover: hover) {
  .button-recommendation__arrow:hover {
    background-color: #0c9b6c;
  }
}

.slide-recommedation {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.slide-recommedation__image {
  padding-bottom: 112.3529411765%;
  border-radius: 1.5rem;
}
.slide-recommedation__feature {
  position: absolute;
}
.slide-recommedation__title {
  color: #0e1735;
  font-weight: 500;
  line-height: 1.3333333333;
}
@supports (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
  .slide-recommedation__title {
    font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
  .slide-recommedation__title {
    font-size: calc(
            1.25rem + 0.25 * (100vw - 20rem) / 55
        );
  }
}
.slide-recommedation__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.slide-recommedation__price {
  color: #3c4563;
  font-weight: 500;
  line-height: 1.6;
}
@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
  .slide-recommedation__price {
    font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
  .slide-recommedation__price {
    font-size: calc(
            1rem + 0.25 * (100vw - 20rem) / 55
        );
  }
}
.feature-recommendation {
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
@supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .feature-recommendation {
    font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
  .feature-recommendation {
    font-size: calc(
            0.75rem + 0.125 * (100vw - 20rem) / 55
        );
  }
}
.feature-recommendation::before {
  font-size: 1rem;
}
.feature-recommendation--popular {
  color: #ef4444;
  background: var(--red-100, #fee2e2);
}
.feature-recommendation--new {
  color: #1d4ed8;
  background-color: #dbeafe;
}
.feature-recommendation--best {
  color: #047857;
  background-color: #d1fae5;
}

.sell__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 74.875em) {
  .sell__container {
    margin-left: 2.5rem;
  }
}
@media (min-width: 74.9375em) {
  .sell__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 3.125rem;
  }
}
@media (max-width: 74.875em) {
  .sell__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.sell__desc:not(:last-child) {
  margin-bottom: 0.75rem;
}
.sell__title {
  line-height: 1.4;
}
.sell__title:not(:last-child) {
  margin-bottom: 1rem;
}
.sell__text {
  color: #626687;
  font-size: 1rem;
  max-width: 26.25rem;
  font-weight: 400;
  opacity: 0.75;
  line-height: 1.75;
}
.sell__text:not(:last-child) {
  margin-bottom: 1rem;
}
.sell__slider {
  width: 28.75rem;
}
@media (max-width: 32.5em) {
  .sell__slider {
    width: 100%;
  }
}
@media (min-width: 74.875em) {
  .sell__slider {
    height: 35vw;
    width: 40.6666666667%;
  }
}

.detail {
  padding-bottom: 2rem;
}
.detail__title {
  color: #1b1c57;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75;
  opacity: 0.75;
}
.detail__title:not(:last-child) {
  margin-bottom: 1.375rem;
}
.detail__items {
  display: grid;
  grid-template-columns: repeat(2, 11.875rem);
  column-gap: 3.125rem;
  row-gap: 1rem;
}
@media (max-width: 32.5em) {
  .detail__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.detail__item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: #3c4563;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.detail__item::before {
  font-size: 2rem;
  color: rgb(136, 139, 151);
}
.contact-detail {
  border-top: 2px solid rgb(240, 243, 253);
  padding: 2rem 0;
  display: inline-flex;
  align-items: center;
  column-gap: 3.75rem;
}
@media (max-width: 32.5em) {
  .contact-detail {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.slider-sell__swiper.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.slider-sell__swiper.open .slider-sell__wrapper {
  width: 31.25rem;
  height: 31.25rem;
}
.slider-sell__wrapper {
  display: flex;
  align-items: center;
}
.slider-sell__slide {
  border-radius: 0.25rem;
  cursor: pointer;
}
.slider-sell__slide._ibg {
  padding-bottom: 100%;
}

@media (min-width: 74.9375em) {
  .thumbs__swiper {
    position: absolute;
    bottom: 8.75rem;
    left: -2.5rem;
  }
}
@media (min-width: 74.9375em) and (max-width: 84.375em) {
  .thumbs__swiper {
    bottom: 6.875rem;
  }
}
.thumbs__wrapper {
  align-items: end;
}
.thumbs__slide {
  border-radius: 0.25rem;
  cursor: pointer;
}
@media (max-width: 74.875em) {
  .thumbs__slide {
    opacity: 0.75;
  }
}
.thumbs__slide.swiper-slide {
  height: 3.75rem;
}
@media (min-width: 74.9375em) {
  .thumbs__slide.swiper-slide {
    height: 5rem;
    width: 5.625rem;
  }
}
@media (max-width: 74.875em) {
  .thumbs__slide.swiper-slide-thumb-active {
    opacity: 1;
  }
}
@media (min-width: 74.9375em) {
  .thumbs__slide.swiper-slide-thumb-active {
    width: 17.5rem !important;
    height: 10.5rem;
  }
}
@media (min-width: 74.9375em) and (max-width: 84.375em) {
  .thumbs__slide.swiper-slide-thumb-active {
    width: 13.75rem !important;
    height: 8.75rem;
  }
}

.review__desc:not(:last-child) {
  margin-bottom: 0.75rem;
}
.review__title:not(:last-child) {
  margin-bottom: 2.5rem;
}
.slider-review {
  overflow: visible !important;
}
.slider-review__pagination {
  display: flex;
  justify-content: center;
}
@supports (padding-top: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem )) {
  .slider-review__pagination {
    padding-top: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem );
  }
}
@supports not (padding-top: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem )) {
  .slider-review__pagination {
    padding-top: calc(
            0.75rem + 1.25 * (100vw - 20rem) / 55
        );
  }
}

.slide-review__img {
  padding-bottom: 54.0540540541%;
  border-radius: 0.5rem;
  opacity: 0.7;
  background-color: #c4c4c4;
}
.slide-review__content {
  position: relative;
  width: 100%;
  margin-top: -20%;
  z-index: 1;
}
.slide-review__center {
  width: 83.7837837838%;
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (max-width: 41.875em) {
  .slide-review__center {
    padding: 0.75rem;
  }
}
.slide-review__title {
  color: #1b1c57;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.8em;
}
@supports (font-size: clamp( 1rem , 0.9285714286rem  +  0.3571428571vw , 1.25rem )) {
  .slide-review__title {
    font-size: clamp( 1rem , 0.9285714286rem  +  0.3571428571vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9285714286rem  +  0.3571428571vw , 1.25rem )) {
  .slide-review__title {
    font-size: calc(
            1rem + 0.25 * (100vw - 20rem) / 70
        );
  }
}
.slide-review__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide-review__rating {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  color: #3c4563;
}
.slide-review__rating::before {
  font-size: 1.75rem;
  color: rgb(245, 158, 11);
}
@media (max-width: 41.875em) {
  .slide-review__rating {
    font-size: 1rem;
  }
  .slide-review__rating::before {
    font-size: 1.375rem;
  }
}
.slide-review__text {
  color: #626687;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.7142857143;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3c4563;
}

.tips {
  position: relative;
}
.tips__desc:not(:last-child) {
  margin-bottom: 0.75rem;
}
.tips__header {
  text-align: center;
}
.tips__header:not(:last-child) {
  margin-bottom: 2.625rem;
}
.tips__title {
  line-height: 1.3;
}
.tips__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.tips__more {
  display: inline-flex;
}
.tips__content {
  display: flex;
}
@supports (column-gap: clamp( 1.25rem , 0.7142857143rem  +  2.6785714286vw , 3.125rem )) {
  .tips__content {
    column-gap: clamp( 1.25rem , 0.7142857143rem  +  2.6785714286vw , 3.125rem );
  }
}
@supports not (column-gap: clamp( 1.25rem , 0.7142857143rem  +  2.6785714286vw , 3.125rem )) {
  .tips__content {
    column-gap: calc(
            1.25rem + 1.875 * (100vw - 20rem) / 70
        );
  }
}
@media (max-width: 74.875em) {
  .tips__content {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }
}
.tips__list {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.tips__bg {
  position: absolute;
  z-index: -1;
  filter: blur(60px);
}
.tips__bg--01 {
  top: 0;
  left: 0;
}
.tips__bg--02 {
  top: 15.625rem;
  left: 0;
}

.item-tips {
  display: flex;
  column-gap: 2rem;
}
@media (max-width: 38.75em) {
  .item-tips {
    column-gap: 0.75rem;
  }
}
@media (max-width: 23.75em) {
  .item-tips {
    flex-direction: column;
    row-gap: 0.75rem;
  }
}
.item-tips__img {
  flex: 50%;
  border-radius: 1rem;
  max-width: 12.5rem;
}
@media (max-width: 23.75em) {
  .item-tips__img {
    flex-direction: column;
    max-width: none;
    padding-bottom: 30%;
  }
}
.item-tips__author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.75rem;
}
.item-tips__author img {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 32.5em) {
  .item-tips__author {
    margin-bottom: 0.25rem;
  }
}
.item-tips__name {
  color: #3c4563;
  font-size: 0.875rem;
  line-height: 1.5714285714;
}
.item-tips__title {
  color: #1b1c57;
  font-weight: 500;
  line-height: 1.7777777778;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@supports (font-size: clamp( 0.9375rem , 0.8693181818rem  +  0.3409090909vw , 1.125rem )) {
  .item-tips__title {
    font-size: clamp( 0.9375rem , 0.8693181818rem  +  0.3409090909vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.9375rem , 0.8693181818rem  +  0.3409090909vw , 1.125rem )) {
  .item-tips__title {
    font-size: calc(
            0.9375rem + 0.1875 * (100vw - 20rem) / 55
        );
  }
}
@media (max-width: 32.5em) {
  .item-tips__title {
    line-height: 1.2222222222;
    margin-bottom: 0.375rem;
  }
}
.item-tips__time {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  color: #888b97;
  line-height: 1.7142857143;
}
.item-tips__time::before {
  font-size: 1.5rem;
  color: rgb(136, 139, 151);
}

.article-tips {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.article-tips__img {
  padding-bottom: 50%;
  border-radius: 1rem;
}
.article-tips__author {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.75rem;
}
.article-tips__author img {
  width: 2rem;
  height: 2rem;
}
.article-tips__name {
  color: #3c4563;
  font-size: 0.875rem;
  line-height: 1.5714285714;
}
.article-tips__title {
  color: #1b1c57;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}
@supports (font-size: clamp( 1.25rem , 1.1785714286rem  +  0.3571428571vw , 1.5rem )) {
  .article-tips__title {
    font-size: clamp( 1.25rem , 1.1785714286rem  +  0.3571428571vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.1785714286rem  +  0.3571428571vw , 1.5rem )) {
  .article-tips__title {
    font-size: calc(
            1.25rem + 0.25 * (100vw - 20rem) / 70
        );
  }
}
.article-tips__text {
  color: #626687;
  line-height: 1.7142857143;
  opacity: 0.75;
}
.article-tips__text:not(:last-child) {
  margin-bottom: 1rem;
}
.article-tips__time {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  color: #888b97;
  line-height: 1.7142857143;
}
.article-tips__time::before {
  font-size: 1.5rem;
  color: rgb(136, 139, 151);
}

.subscribe__bg {
  position: relative;
  background-image: url("../images/subscribe/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2.0625rem;
  overflow: hidden;
}
.subscribe__body {
  width: 41.3333333333%;
  margin: 0 auto;
  padding: 4.0625rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (max-width: 71.875em) {
  .subscribe__body {
    width: 60%;
  }
}
@media (max-width: 53.125em) {
  .subscribe__body {
    width: 90%;
    padding: 1.5625rem 0;
  }
}
.subscribe__title {
  line-height: 1.5;
}
@media (max-width: 53.125em) {
  .subscribe__title {
    line-height: 1.1875;
    font-size: 1.25rem;
  }
}
.subscribe__img {
  position: absolute;
  border: 2px solid #fff;
}
.subscribe__img--01 {
  border-radius: 1.5rem;
  width: 5.0625rem;
  height: 5.0625rem;
  top: 2.375rem;
  left: 2.75rem;
}
@media (max-width: 53.125em) {
  .subscribe__img--01 {
    display: none;
  }
}
.subscribe__img--02 {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  left: 12.75rem;
  top: 4.4375rem;
}
@media (max-width: 71.875em) {
  .subscribe__img--02 {
    display: none;
  }
}
.subscribe__img--03 {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  left: 4.1875rem;
  bottom: 6.4375rem;
}
@media (max-width: 53.125em) {
  .subscribe__img--03 {
    display: none;
  }
}
.subscribe__img--04 {
  border-radius: 1.5rem;
  width: 3.375rem;
  height: 3.375rem;
  left: 12.1875rem;
  bottom: 5rem;
}
@media (max-width: 71.875em) {
  .subscribe__img--04 {
    display: none;
  }
}
.subscribe__img--05 {
  border-radius: 1.5rem;
  width: 4.375rem;
  height: 4.375rem;
  top: 2.75rem;
  right: 12.5rem;
}
@media (max-width: 71.875em) {
  .subscribe__img--05 {
    display: none;
  }
}
.subscribe__img--06 {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  top: 6.6875rem;
  right: 5.125rem;
}
@media (max-width: 53.125em) {
  .subscribe__img--06 {
    display: none;
  }
}
.subscribe__img--07 {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  top: 8.9375rem;
  right: 12.5rem;
}
@media (max-width: 71.875em) {
  .subscribe__img--07 {
    display: none;
  }
}
.subscribe__img--08 {
  border-radius: 1.5rem;
  width: 3.4375rem;
  height: 3.4375rem;
  top: 12.3125rem;
  right: 4.5625rem;
}
@media (max-width: 53.125em) {
  .subscribe__img--08 {
    display: none;
  }
}

.search-subscribe {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
  border-radius: 32px;
  padding: 0.25rem 0.25rem 0.25rem 1.5rem;
}
.search-subscribe::before {
  font-size: 1.5rem;
  color: #3b82f6;
  z-index: 2;
}
@media (max-width: 32.5em) {
  .search-subscribe::before {
    display: none;
  }
}
@media (max-width: 32.5em) {
  .search-subscribe {
    flex-direction: column;
    row-gap: 0.875rem;
    padding: 0.25rem;
  }
}
.search-subscribe__input {
  border-radius: 32px;
  padding: 0.75rem;
  width: 100%;
}
.search-subscribe__input:focus {
  outline: none;
  box-shadow: 0 0 0.3125rem #8dc2cf;
}
@media (min-width: 32.5625em) {
  .search-subscribe__input {
    position: absolute;
    inset: 0;
    padding-left: 4rem;
    padding-right: 7.5rem;
  }
}
@media (max-width: 32.5em) {
  .search-subscribe__input {
    text-align: center;
    border: 1px solid #e0e3eb;
  }
}
.search-subscribe__input._error {
  box-shadow: 0 0 0.4375rem #c46757;
}
.search-subscribe__button {
  position: relative;
  z-index: 2;
}
@media (max-width: 32.5em) {
  .search-subscribe__button {
    width: 100%;
  }
}